<div class="container">
  <h2>Lista de usuários</h2>
  <table class="table table-striped">
    <thead>
      <button type="button" class="create-user btn btn-light">Criar usuário</button>
      <tr>
        <th> ID </th>
        <th> Nome </th>
        <th> E-mail </th>
        <th> Cartão </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td> {{ usuario.id }} </td>
        <td> {{ usuario.nome }} </td>
        <td> {{ usuario.email }} </td>
        <td> {{ usuario.cartao | json }} </td>
      </tr>
    </tbody>
  </table>
</div>
