<div class="container">
  <div class="col-md-6 offset-md-3">
    <mat-card>
      <h3>Informações do usuário</h3>
      <mat-card-content>
        <form class="size-down" [formGroup]="formGroup">
          <input
              class="input-nome-tam mb-2 form-control"
              type="text"
              aria-label="default input example"
              id="nome"
              formControlName="nome"
              [(ngModel)]="usuario.nome"
              name="nome" readonly
            />

          <div class="mb-3">
            <div class="input-group">
              <div class="input-group-text" id="btnGroupAddon">E-mail</div>
              <input
                type="text"
                class="form-control"
                placeholder="name@example.com"
                aria-label="Input group example"
                aria-describedby="btnGroupAddon"
                [(ngModel)]="usuario.email"
                formControlName="email" readonly
              />
            </div>
          </div>

          <button
            (click)="btnVoltar()"
            type="button"
            class="btn-cancelar btn btn-outline-dark"
          >
            Voltar
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
