<div class="container">
  <div class="col-md-6 offset-md-3">
    <mat-card>
      <h3>Cadastro de cartão</h3>
      <mat-card-content>
        <form class="size-down" [formGroup]="formGroup">
          <label for="basic-url" class="form-label"
            >Proprietário
            <input
              readonly
              class="input-nome-tam mb-2 form-control"
              type="text"
              aria-label="default input example"
              id="nome"
              formControlName="nome"
              [(ngModel)]="usuario.nome"
              name="nome"
            />
          </label>

          <input
            hidden="true"
            readonly
            class="input-id-tam mb-2 form-control"
            type="text"
            aria-label="default input example"
            id="usuarioId"
            formControlName="usuario"
            [(ngModel)]="usuario.id"
            name="usuarioId"
          />

          <div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >Nº do Cartão</span
              >
              <input
                type="number"
                class="input-card form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
                id="numeroCartao"
                formControlName="numeroCartao"
                name="numeroCartao"
              />
            </div>

            <label for="basic-url" class="form-label">
              Tipo
              <select
                class="form-control tipo-tam form-select"
                aria-label="Default select example"
                formControlName="tipoCartao"
              >
                <option selected disabled>Tipo de cartão</option>
                <option value="COMUM">COMUM</option>
                <option value="TRABALHADOR">TRABALHADOR</option>
                <option value="ESTUDANTE">ESTUDANTE</option>
              </select>
            </label>

            <div>
              <p class="dist-status">Status</p>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckChecked"
                  formControlName="status"
                  checked
                />
                <label
                  class="form-check-label"
                  for="flexSwitchCheckChecked"
                  >{{ altLabel() }}</label
                >
              </div>
            </div>
          </div>

          <div class="btn-margin">
            <button
              (click)="onSubmit()"
              class="btn-dist btn btn-primary"
              type="submit"
              [disabled]="!formGroup.valid"
            >
              Salvar
            </button>
            <button
              (click)="btnVoltar()"
              type="button"
              class="btn-cancelar btn btn-outline-dark"
            >
              Cancelar
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
