.input-dist {
  margin-left: 10px;
}

.input-nome-tam {
  width: 350px;
}

.input-id-tam {
  width: 95px;
}

.btn-dist {
  margin-right: 10px;
}

.btn-margin {
  margin-top: 11px;
}

.tipo-tam {
  width: 230px;
}

.dist-status {
  display: contents;
}
