<div class="container">
  <div class="col-md-6 offset-md-3">
    <mat-card>
      <h3>Cadastro de usuário</h3>
      <mat-card-content>
        <form class="size-down" [formGroup]="formGroup">
          <input
            class="mb-2 form-control"
            type="text"
            placeholder="Nome"
            aria-label="default input example"
            formControlName="nome"
          />

          <div class="mb-3">
            <div class="input-group">
              <div class="input-group-text" id="btnGroupAddon">E-mail</div>
              <input
                type="text"
                class="form-control"
                placeholder="name@example.com"
                aria-label="Input group example"
                aria-describedby="btnGroupAddon"
                formControlName="email"
              />
            </div>
          </div>

          <div class="form-group">
            <div class="size-pass input-group" id="show_hide_password">
              <input
                class="form-control"
                placeholder="Senha"
                [type]="hide ? 'password' : 'text'"
                formControlName="senha"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </div>
            <!-- <p>
              Deseja criar um cartão para este usuário?
              <button
                (click)="AddCartao()"
                type="button"
                class="btn btn-outline-info"
              >
                Clique aqui
              </button>
            </p> -->
          </div>
          <button (click)="onSubmit()" class="btn btn-primary" type="submit">
            Salvar
          </button>
          <button
            (click)="btnVoltar()"
            type="button"
            class="btn-cancelar btn btn-outline-dark"
          >
            Cancelar
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
